<div
  *ngIf="this.associatedPeriod.courseCode !== ''"
  class="visible"
  [style.backgroundColor]="this.bgColor"
>
  <div class="course">
    {{ associatedPeriod.courseCode }}
  </div>
  <div class="teacher">{{ associatedPeriod.courseTeachers }}</div>
  <button class="btn btn-primary" (click)="this.setPeriodToBeUpdated()">
    change
  </button>
</div>

<div class="invisible" *ngIf="this.associatedPeriod.courseCode === ''">
  <div class="course">null</div>
  <div class="teacher">null</div>
  <button class="btn btn-primary" (click)="this.setPeriodToBeUpdated()">
    Add
  </button>
</div>
