<div class="container" style ="color:white;   ">
    <div class="row" >
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box" >
            <div class="col-lg-12 login-key"style ="padding-bottom: 100px;">
               <img src = "./assets/img/avg.png" style ="height: 100px; margin-left:30px">
            </div>

            <div class="col-lg-12 login-title">
                ADMIN PANEL
            </div>
           
            <div class="col-lg-12 login-form">
                <div class="col-lg-12 login-form">
                    <form>
                        <div class="form-group">
                            <label class="form-control-label">EMAIL</label>
                            <input type="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">PASSWORD</label>
                            <input type="password" class="form-control" >
                        </div>

                        <div class="form-group">
                            <label class="form-control-label"> RE-ENTER PASSWORD</label>
                            <input type="password" class="form-control" >
                        </div>

                        <div class="col-lg-12 loginbttm">
                            <div class="col-lg-6 login-btm login-text" style ="color: green;">
                            </div>
                            <div class="col-lg-6 login-btm login-button">
                                <button type="submit" class="glow-on-hover" style ="margin-left: 100px;">PROCEED</button>
                            </div>
                            
                        </div>
                    </form>

                   
              
           
            <div class="col-lg-3 col-md-2" style="padding:40px ">

                
               </div>
            </div>
            
        </div>
        <span style ="padding-bottom: 100px;"><a routerLink="" class="link-success" style="margin-top: 100px; color:#96b4a8 " (click)="redirect()">Already have an account?</a></span>
        <br><br>
  
        
</div>

    
